*ipynb_checkpoints
*__pycache__

# Datasets Skipped
/CamCann_Dataset
/imfdb-dataset
/Facial Recognition/Dataset
*.jpeg
*.png
*.jpg
*.csv
*.txt


# Model Binaries Skipped
*.h5
*.hd5
*.model

# Other Binaries Skipped
*.pickle
*.pkl
